{% extends "base.html" %}

{% block content %}
<header class="contain-to-grid">
        <div class="row">
            <div class="large-12 column">
                <nav id="menu" class="top-bar">

                    <ul class="title-area">
                        <li class="name">
                            <a href="/">
                                <img src="/img/name_home.png" alt="noditor.me">
                            </a>
                        </li>
                        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a>
                        </li>
                    </ul>

                    <section class="top-bar-section">
                        <ul class="right">
                            <li><a href="/plans">PLANS &amp; PRICING</a>
                            </li>
                            <li><a href="/features">FEATURES</a>
                            </li>
                            <li><a href="/about">ABOUT</a>
                            </li>
                            <li><a href="/support">SUPPORT</a>
                            </li>
                            <li><a href="/login">LOG IN</a>
                            </li>
                            <li id="signup"><a href="/signup" class="button no-margin">SIGN UP</a>
                            </li>
                        </ul>
                    </section>
                </nav>
            </div>
        </div>
    </header>

    <section id="main" role="main">

        <section id="hero">
            <div class="row">
                <div class="large-10 large-centered column text-center">
                    <div id="hero-message" class="fadeInDown animated">
                        <h1>Real Time monitoring tool</h1>
                        <h4>The more affordable approach to monitoring tools. Inexpensive, reliable, and feature-rich!</h4>
                        <a href="/signup" class="button">SIGN UP FOR A PLAN</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="part">
            <div class="row title">
                <div class="large-12 column">
                    <h6>What we offer</h6>
                </div>
            </div>

            <div class="row features spacy">
                <div class="large-4 column">
                    <h4><i class="icon-cog"></i> Powerful dashboard</h4>
                    <p>
                        We'll develop for you everything you need to make the data interesting.
                    </p>
                </div>

                <div class="large-4 column">
                    <h4><i class="icon-time"></i> 99.99% Uptime</h4>
                    <p>
                        Our service will be available for you anytime.
                    </p>
                </div>

                <div class="large-4 column">
                    <h4><i class="icon-cloud"></i> Cloud Based</h4>
                    <p>
                        All the information is sent to our servers so you won't waste your disk space, we manage all the data for you. 
                    </p>
                </div>
            </div>

            <div class="row features spacy">
                <div class="large-4 column">
                    <h4 class="no-top-margin"><i class="icon-archive"></i> Easy Install</h4>
                    <p>
                        We provide easy to install scripts to fetch your server's information
                    </p>
                </div>

                <div class="large-4 column">
                    <a href="features.html" class="button">View Full Features List</a>
                </div>

                <div class="large-4 column">
                    <h4 class="no-top-margin"><i class="icon-comments"></i> 24/7 Support</h4>
                    <p>
                        We work 24/7 to make our service the best, well fetch data everytime and we give you support anytime.
                    </p>
                </div>
            </div>
        </section>

        <section class="part">
            <div class="row title">
                <div class="large-12 column">
                    <h6>Pick a plan</h6>
                </div>
            </div>

            <div class="row">
                <div class="large-12 column">
                    <div class="row">
                        <div class="large-4 column">
                            <ul class="pricing-table">
                                <li class="title">Basic</li>
                                <li class="price">$9.99 <span>/ month</span>
                                </li>
                                <li class="bullet-item"><strong>Real-Time</strong> Service</li>
                                <li class="bullet-item"><strong>Full</strong> Dashboard</li>
                                <li class="bullet-item"><strong>5</strong> Servers</li>
                                <li class="cta-button"><a class="button" href="/signup">Get Started</a>
                                </li>
                            </ul>
                        </div>
                        <div class="large-4 column">
                            <ul class="pricing-table highlight">
                                <li class="title">Business</li>
                                <li class="price">$39.99 <span>/ month</span>
                                </li>
                                <li class="bullet-item"><strong>Real-Time</strong> Service</li>
                                <li class="bullet-item"><strong>Full</strong> Dashboard</li>
                                <li class="bullet-item"><strong>20</strong> Servers</li>
                                <li class="bullet-item"><strong>Mail Alerts</strong></li>
                                <li class="cta-button"><a class="button" href="/signup">Get Started</a>
                                </li>
                            </ul>
                        </div>
                        <div class="large-4 column">
                            <ul class="pricing-table">
                                <li class="title">Professional</li>
                                <li class="price">$99.99 <span>/ month</span>
                                </li>
                                <li class="bullet-item"><strong>Real-Time</strong> Service</li>
                                <li class="bullet-item"><strong>Full</strong> Dashboard</li>
                                <li class="bullet-item"><strong>100</strong> Servers</li>
                                <li class="bullet-item"><strong>Mail Alerts</strong></li>
                                <li class="cta-button"><a class="button" href="/signup">Get Started</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="part">
            <div class="row title">
                <div class="large-12 column">
                    <h6>Our Happy Customers</h6>
                </div>
            </div>

            <div class="row">
                <div class="large-12 column">
                    <ul class="large-block-grid-6 customers">
                        <li>
                            <a href="http://www.qualityup.org" target="_blank">
                                <img src="/img/customer1.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="http://www.compressmania.net" target="_blank">
                                <img src="/img/customer2.jpg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    </section>

    <a id="back-top" href="#"><i class="icon-caret-up"></i></a>

    <footer>
        <div class="row spacy">
            <div class="large-6 column">
                <h4>About us</h4>
                <p>
                    We provide a real-time service for monitoring linux servers, we are a small company willing to open our way into this fast world.
                </p>

                <ul class="large-block-grid-5 popup">
                    <li>
                        <a href="images/photos/person1.jpg">
                            <img src="images/photos/person1_s.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="images/photos/person2.jpg">
                            <img src="images/photos/person2_s.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="images/photos/person3.jpg">
                            <img src="images/photos/person3_s.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="images/photos/person4.jpg">
                            <img src="images/photos/person4_s.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="images/photos/person5.jpg">
                            <img src="images/photos/person5_s.jpg" alt="">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="large-2 column">
                <h4>Services</h4>
                <ul class="side-nav">
                    <li><a href="/plans">Plans</a>
                    </li>
                    <li><a href="/about">About us</a>
                    </li>
                    <li><a href="/terms">Terms of Service</a>
                    </li>
                    <li><a href="/privacy">Privacy Policy</a>
                    </li>
                    <li><a href="/contact">Contact us</a>
                    </li>
                </ul>
            </div>

            <div class="large-4 column">
                <h4>Contact</h4>

                <div class="row">
                    <div class="small-3 column text">
                        <h6>Phone:</h6>
                    </div>
                    <div class="small-9 column text">
                        <p>+52 55 65 45 77 21</p>
                    </div>
                </div>

                <div class="row">
                    <div class="small-3 column text">
                        <h6>Email:</h6>
                    </div>
                    <div class="small-9 column text">
                        <p>
                            <a href="mailto:info@noditor.me">info@noditor.me</a>
                            <br>
                            <a href="mailto:info@noditor.me">support@noditor.me</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="large-12 column">
                <hr>
            </div>
        </div>

        <div class="row">
            <p class="small-12 large-4 large-uncentered column copyright">
                Copyright &copy; 2014 noditor.me
            </p>

            <p class="small-12 large-8 column social">
                <a href="mailto:info@noditor.me"><i class="icon-envelope"></i></a>
                <a href="//www.facebook.com/noditor.me" target="_blank"><i class="icon-facebook"></i></a>
                <a href="//www.twitter.com" target="_blank"><i class="icon-twitter"></i></a>
                <!-- <a href="//www.linkedin.com" target="_blank"><i class="icon-linkedin"></i></a> -->
            </p>
        </div>

    </footer>
{% endblock %}