{% extends "../../app.html" %}

{% block body %}
	<!-- Breadcrumbs Start -->
    <div class="row breadcrumbs">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="breadcrumbs">
          <li><a href="/app"><i class="fa fa-home"></i></a></li>
          <li><a href="#">Monitor</a></li>
        </ul>
      </div>
    </div>
    <!-- Breadcrumbs End -->

    <div classs="row">
	    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="MonitorController" ng-init="validateNew({{ servers }}); user = {{ user | json}}">

	    	<div class="boxed">
	          <div class="inner">
	          	<div class="row">
	            	<div class="invoice-logo">
		              <i class="fa fa-laptop"></i>
		              <h3>New Server</h3>
		            </div>
		            <div class="invoice-actions text-right">
		              <a class="btn btn-lg btn-warning" href="/app/monitor/server"><i class="fa fa-angle-left"></i> Back to monitor</a>
		            </div>
		        </div>
		        <br/>
		        
	            <div class="row">
          			<form name="serverForm">
          				<div class="form-group col-md-12" ng-class="{'has-success': serverForm.name.$valid, 'has-error': serverForm.name.$invalid}">
          					<label class="control-label">
          						Server Name:
          					</label>
          					<input type="text" name="name" class="form-control" ng-model="server.name" ng-required="true" />
          				</div>
          				<div class="form-group col-md-6" ng-class="{'has-success': serverForm.os.$valid, 'has-error': serverForm.os.$invalid}">
          					<label class="control-label">
          						Operating System
          					</label>
          					<select ng-required="true" name="os" ng-model="server.os" ng-options="value.value as value.label for (key, value) in oSystems" class="form-control"></select>
          				</div>
          				<div class="form-group col-md-6" ng-class="{'has-success': serverForm.distro.$valid, 'has-error': serverForm.distro.$invalid}">
          					<label class="control-label">
          						Distro / Version
          					</label>
          					<select ng-model="server.distro" ng-disabled="!server.os" ng-options="value for value in distros[server.os]" ng-required="true" class="form-control" name="distro"></select>
          				</div>
          				<div class="form-group col-md-12">
          					<label>
          						What would you like to know about your server?
          					</label>
          					<button type="button" class="btn" ng-class="{'btn-default': !server.configuration.memory, 'btn-success': server.configuration.memory == true}" ng-click="toggleConfiguration('memory')">Memory</button>
          					<button type="button" class="btn" ng-class="{'btn-default': !server.configuration.cpu, 'btn-success': server.configuration.cpu == true}" ng-click="toggleConfiguration('cpu')">CPU</button>
          					<button type="button" class="btn" ng-class="{'btn-default': !server.configuration.disk, 'btn-success': server.configuration.disk == true}" ng-click="toggleConfiguration('disk')">Disk Usage</button>
          					<!-- <button type="button" class="btn" ng-class="{'btn-default': !server.configuration.bandwith, 'btn-success': server.configuration.bandwith == true}" ng-click="toggleConfiguration('bandwith')">Bandwith</button> -->
          				</div>
          				<div class="row col-md-12">
		                    <button class="btn btn-primary" ng-click="saveServer()" ng-disabled="serverForm.$invalid || !server.configuration">Configure Server <i class="fa fa-angle-right"></i></button>
		                </div>
          			</form>
          		</div>
	          </div>
	        </div>
	    </div>
    </div>
{% endblock %}