{% extends "../../app.html" %}

{% block body %}
<!-- Breadcrumbs Start -->
    <div class="row breadcrumbs">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="breadcrumbs">
          <li><a href="/app"><i class="fa fa-home"></i></a></li>
          <li><a href="#">Profile</a></li>
        </ul>
      </div>
    </div>
    <!-- Breadcrumbs End -->

    <!-- Background Image Profile Start -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

          <div class="boxed profile light" ng-controller="ProfileController" ng-init="user = {{ user | json}}">
            <div class="inner">

              <!-- Profile Title Start -->
              <div class="title">
                <h3>My profile</h3>
                <a href="/app/profile" class="share-profile">Return to profile</a>
              </div>
              <!-- Profile Title End -->

              <div class="row profile-data">
                <!-- Right Side Start -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                  <h3 ng-hide="editMode">{{ user.name }}</h3>

                  <form role="form" name="passwordForm">
                    <div class="form-group" ng-class="{'has-success': passwordForm.current.$valid, 'has-error': passwordForm.current.$invalid}">
                      <label class="control-label">
                        Current Password:
                      </label>
                      <input type="password" class="form-control" ng-required="true" name="current" ng-model="user.currentPassword" />
                    </div>
                    <div class="form-group" ng-class="{'has-success': passwordForm.new1.$valid, 'has-error': passwordForm.new1.$invalid}">
                      <label class="control-label">
                        New Password:
                      </label>
                      <input type="password" name="new1" ng-required="true" ng-minlength="6" ng-model="user.password1" class="form-control" />
                    </div>
                    <div class="form-group" ng-class="{'has-success': user.password1 == user.password2, 'has-error': user.password1 != user.password2}">
                      <label class="control-label">
                        Confirm New Password:
                      </label>
                      <input type="password" name="new2" ng-required="true" ng-model="user.password2" class="form-control" />
                      <div class="alert alert-danger" ng-show="user.password1 != user.password2">
                        The new passwords don't match.
                      </div>
                    </div>
                  </form>

                  <buton class="btn btn-sm btn-success" ng-click="changePassword()" ng-disabled="passwordForm.$invalid || user.password1 != user.password2">Change Password</buton>

                  <div class="alert alert-success" ng-show="showSuccess">The password has been changed</div>
                  <div class="alert alert-danger" ng-show="showError">[[ error ]]</div>

                </div>
                <!-- Right Side End -->
              </div>

            </div>
          </div>

        </div>
    <!-- Background Image Profile End -->
{% endblock %}